services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: "irts_user"
      POSTGRES_PASSWORD: "password123"
      POSTGRES_DB: "irts_db"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  pgdata:

